*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    text-align: left;
}



.menu-bar
{
    background: rgb(102,153,204);
    text-align: right;  
    opacity: 0.7    5;
    height: 8%;
}
.ds   
{
    position: relative;
    right: 625px;
    bottom: 0px;
    font-size: 29px;
    font-weight: bold;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 100px;
    margin: 0px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.menu-bar ul li a:hover
{
    color: #9f1c41;
    transition: color 0.3s ease-in-out;    
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(102,153,204);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 90px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
h2
{
    margin-top: 32px;
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}